{% extends 'user/base.html' %}
    {% block title %} Thay đổi thông tin {% endblock %}
    {% block css %}{% endblock %}
    {% load static %}
    {% block content %}
    <section class="invoice">
      <!-- title row -->
      <div class="row">
        <div class="col-xs-12">
          <h2 class="page-header">
             <strong>Sửa thông tin </strong>
          </h2>
        </div>
        <!-- /.col -->
      </div>
      <!-- info row -->

    <form id="change-form" method="POST">
        {% csrf_token %}
        <h3>Password cũ: <input type="password" name="Old_Pass" value=""> </h3>
        <h3>Password mới: <input type="password" name="New_Pass" value=""> </h3>
        <h3>Nhập lại lần nữa: <input type="password" name="Re" value=""> </h3>

        <h3><a href="{% url 'user:index' %}"> Quay về</a></h3>
    </form>
    <h3><button id="change" class="btn btn-primary" id="form"> gửi </button> </h3>
    </section>
    <!-- /.content -->
    <div class="clearfix"></div>
    {% endblock %}


    {% block js %}
    <script src="{% static 'user/custom/ChangePass.js' %}"></script>
    <script src="{% static 'sweetalert2.all.min.js' %}"></script>
    {% endblock %}

